@tailwind base;
@tailwind components;
@tailwind utilities;

.rtl {
  direction: rtl;
}

@font-face {
  font-family: Vazir;
  src: url("/public/fonts/Vazir-Medium-FD-WOL.ttf") format("truetype");
}

:root {
  --clr-bg-dark: rgb(30 41 59); /* slate-800 */
  --clr-bg-light: #fafafa; /* zinc-50 */

  --clr-text-dark: rgb(30 41 59); /* slate-800 */
  --clr-text-light: #fafafa; /* zinc-50 */
}

.dark {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-light);
}

.light {
  background-color: var(--clr-bg-light);
  color: var(--clr-text-dark);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
}
