@tailwind base;
@tailwind components;
@tailwind utilities;

.rtl {
  direction: rtl;
}

@font-face {
  font-family: Vazir;
  src: url("/public/fonts/Vazir-Medium-FD-WOL.ttf") format("truetype");
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
}
